<div class="wrap">
  <div id="main">
    <div id="omikuji">
      <div id="hako"><img src="/assets/hako.png"></div>
      <div id="bou"></div>
    </div>
    <div id="icon"></div>
    <div id="startBtn"><img src="/assets/btn_start.png"></div>
  </div>
  <div id="return">
    <a href="" id="retryBtn">もう1回引く！</a>
    <a href="/" id="backBtn">TOPに戻る</a>
  </div>
</div>

<%= javascript_include_tag 'jquery.easing.1.3.js','omikuji.js' %>