<div class="about">
  <div class="description">
    <br>
    <br>
    <h1>EasyTagについて</h1>
    <br>
    <br>
    <br>
    <h2><u><a href="/omikuji">About</a></u></h2>
      <p>サイトマップになります（このページです）</p>
    <br>

    <h2><u><a href="/groups">Group</a></u></h2>
      <p>グループごとのメモの管理画面になります</p>
      <p>こちらでグループの作成ができます</p>
    <br>

    <h2><u><a href="/users/:id">User</a></u></h2>
      <p>アカウントの管理画面になります</p>
    <br>

  </div>
</div>