<div class="about">
  <div class="description">
    <br>
    <br>
    <h1>EasyTagについて</h1>
    <br>
    <br>
    <h2><u><a href="/omikuji">About</a></u></h2>
      <p>サイトマップになります（このページです）</p>
    <br>

    <h2><u><a href="/groups">Group</a></u></h2>
      <p>グループごとのメモの管理画面になります</p>
      <p>こちらでグループの作成ができます</p>
    <br>

    <h2><u><a href="/users/:id">User</a></u></h2>
      <p>アカウントの管理画面になります</p>
    <br>
    <br>
    <br>
    <h1>EasyTagの使い方</h1>
    <br>
    <br>
    <h2>1 ユーザー登録をしましょう</h2>
      <p>上部の『User』メニューから名前、Eメール、パスワードを入力したら登録完了です！</p>
      <p>アカウントの削除も『User』メニューからできます</p>
    <br>
    <h2>2 グループを作りましょう</h2>
      <p>上部の『Group』メニューから『新規作成はコチラ』をクリック</p>
      <p>グループ名を入力し、メンバーを選んでください ※現在登録済みのアカウント名が表示されます</p>
    <br>
    <h2>3 EasyTagを使ってみましょう</h2>
      <p>グループ名をクリックするとメモの管理画面が表示されます</p>
      <p>画面左部がコメント画面、右部がアイテム表示画面になります</p>
      <p>画面下部の入力フォームからコメント、アイテムを追加できます</p>
      <p>追加した情報を削除したい時は<i class="fas fa-trash-alt"></i>をクリックしてください</p>
    <br>
    <h2>4 EasyTagを活用しましょう</h2>
      <p>追加されたアイテムをクリックすると表示が強調されます</p>
      <h3>日々の買い忘れメモに！</h3>
        <p>切らしてしまった日用品や今日の献立に必要なものを強調しておけば買い忘れを防ぐことができます！</p>
        <p>コメント機能を利用し「帰りにこれ買ってきて！」などメンバーに頼むこともできます！</p>
      <h3>Todoリストとして！</h3>
        <p>重要度によって色分けしたり、コメント欄に時間、場所などメモできます</p>
    <br>
    <br>
    <h2>シンプルなデザイン、機能でカンタン操作♪</h2>
    <h2>ぜひEasyTagをご活用ください！</h2>
  </div>
</div>