<div class="comment_area_box_comment">
  <div class="comments">
    <% if comment.content.present? %>
      <%= comment.content %>
    <% end %><br>
  </div>
  <div class="comments_status">
    <%= comment.user.name %>
    <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    <%= link_to group_comment_path(group_id: @group.id, id: comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
