  <div class="comment">
    <div class="group_area">
      <h2 class="group-name">グループ名</h2>
        <ul>るる おじゅ もな ぽん</ul>
    </div>
    <div class="comment_area">
      <% @comments.each do |comment| %>
        <%= comment.content %><br>
      <% end %>
    </div>
    <div class="comment_area_message-form">
      <%= form_for(@group, @comment) do |f| %>
        <%= f.text_field :content, class:"", size:30, placeholder:"メッセージ" %>
        <%= f.submit "送信" %>
      <% end %>

    </div>
  </div>
