<div class="index">
  <br>
  <br>
  <h1>EasyTag</h1>
  <div class="background-img">
  </div>
    <div class="index-content">
      <h2>仲間と共有できるメモアプリぷぴー</h2>
        <div class="index-explain">
          <h3><span>メモとして</span></h3>
            <ul>
              <li>付箋を貼る感覚でメモを残せます</li>
              <li>ワンクリックで色が変わって必要なものがすぐわかります</li>
              <li>買い物メモやTodoリストにも使えます！</li>
            </ul>
          <h3><span>みんなで共有</span></h3>
            <ul>
              <li>グループ機能でメモを共有できます</li>
              <li>家族、友達、恋人、クラス、サークルなど使い方はいろいろ</li>
              <li>もちろん個人使いもOKです!</li>
            </ul>
          <h3><span>コメント機能</span></h3>
            <ul>
              <li>グループごとにメッセージが残せます</li>
              <li>あれ買ってきて！これって必要？など簡単なチャットができます！</li>
            </ul>
          <a href="/users/:id"><button>使ってみる！</button></a>
        </div>
    </div>
</div>