<div class="index">
  <div class="index_title">
    <h1>EasyTag</h1>
    <img src="/assets/husen.png">
  </div>
    <h2>仲間と共有できるメモアプリ</h2>
      <h3>何ができるの？</h3>
      <ul>メモ帳として
        <li>付箋を貼る感覚でメモを残せる</li>
        <li>ワンクリックで色が変わって必要なものがすぐわかる</li>
        <li>買い物メモやTodoリストにも使える</li>
      </ul>
      <ul>みんなで共有
        <li>グループ機能でメモを共有できるよ</li>
        <li>家族、友達、恋人、クラス、サークルなど使い方はいろいろ</li>
        <li>もちろん個人使いもOK!</li>
      </ul>
      <ul>コメント機能
        <li>グループごとにメッセージが残せるよ</li>
        <li>あれ買ってきて！これって必要？など簡単なチャットができる！</li>
      </ul>
    <a href="/users/:id"><button>使ってみる！</button></a>
</div>