<div class="group">
  <div class="my_group">
    <h2>グループ</h2>
    <% current_user.groups.each do |group| %>
    <div class="group_list">
    <a href="", class="group_name"><%= group.name %></a>
      <p class="group_member">メンバー：</p>
      <% group.users.each do |user|%>
      <%= user.name %>
      <% end %>
    </div><br>
    <% end %>
  </div>

  <div class="group_edit">
    <a href="/groups/new", class="other_login"><u><p>新規作成はコチラ</p></u></a><br>
  </div>

</div>