<div class="about">
  <div class="description">
    <br>
    <br>
    <h1>EasyTagについて</h1>
    <br>
    <br>
    <h2><a href="/omikuji">Item</a></h2>
      <p>最初のページに戻ります</p>
    <br>
    <h2><a href="/items/:id">About</a></h2>
      <p>サイトマップになります（このページです）</p>
    <br>

    <h2><a href="">Group</a></h2>
      <p>友達とグループを作ります</p>
      <p>グループのメンバーでアプリを共有できます</p>
    <br>

    <h2><a href="/users/:id">User</a></h2>
      <p>ご自身のアカウントの編集が出来ます</p>
    <br>

  </div>
</div>