a {
  text-decoration: none;
}

.contents_content {
  height: calc(100vh - 114px);
  overflow: scroll;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.container h2 {
  padding: 50px 0 30px 0;
}

.container input {
  margin-bottom: 30px;
}

.field {
  font-size: 16px;
}

#user_name {
  width: 380px;
  height: 38px;
}

#user_email {
  width: 380px;
  height: 38px;
}

#user_password {
  width: 380px;
  height: 38px;
}

#user_password_confirmation {
  width: 380px;
  height: 38px;
}

.actions {
  text-align: center;
}

.other_login {
  color: #A52A2A;
  font-weight: bold;
  text-align: center;
}

.userName {
  color: #A52A2A;
  text-shadow: 1px 2px 1px rgb(212, 181, 181);
  font-size: 22px;
  font-weight: bold;
  padding: 50px 0 50px 0;
  margin-top: 30px;
}

.user_info {
  margin-left: 30%;
}

.user_info p {
  font-size: 18px;
}

.signUp {
  font-size: 18px;
}

.test-login {
  font-size: 14px;
  margin-left: 10px;
}