.comment {
  height: calc(100vh - 114px);
  width: calc(100% - 70%);
  float: right;
}

.group_area {
  height: 10%;
}

.comment_area {
  height: 75%;
  background-color: green;
}
.comment_area_message-form {
  height: 15%;
  background-color: purple;
}

.group_area_list {
  display: flex;
}