.about {
  height: 675px;
  background-image: url("/assets/michiannai.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 88% 92%;
}

.description{
  margin-left: 100px;
}

h1 {
  color: #A52A2A;
  font-weight: bold;
  font-size: 23px;
}

h2 {
  color: #A52A2A;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.list_area_item-list {
  display: inline-block;
}

.item_button {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 15px;
  display: inline-block;
  padding: .60em 2em;
  border: 2px solid #333;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}