.list {
  height: calc(100vh - 114px);
  width: calc(100% - 30%);
}

.list_area {
  height: 90%;
  width: calc(100% - 30%);
  border-left: solid 1px rgb(218, 197, 197);
}

.list_area_imput-form {
  background-color: #FAEBD7;
  height: calc(100% - 90%);
  line-height: 70px;
  text-align: center;
}

h1 {
  color: #A52A2A;
  font-weight: bold;
  font-size: 23px;
}

h2 {
  color: #A52A2A;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.list_area_item-list {
  display: inline-block;
}

.item_button {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 15px;
  display: inline-block;
  padding: .60em 2em;
  border: 2px solid rgb(172, 135, 135);
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}