<!DOCTYPE html>
<html>
  <head>
    <title>EasyTag</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="header">
      <a href="/"><p class="logo">EasyTag <i class="far fa-bookmark"></i></p></a>
    </div>

    <div class="menu_area">
      <div class="menu_list">
        <button class="ui-toggle-06" onclick="location.href='/omikuji'">About</button>
        <button class="ui-toggle-06" onclick="location.href='/groups'">Group</button>
        <button class="ui-toggle-06" onclick="location.href='/users/:id'">User</button>
      </div>
    </div>
    <div class="footer">
      <p class="copyright">©︎ akotaso 2020</p>
    </div>

    <%= yield %>
  


  </body>
</html>
